<div id="home">
  <nav class="col s12 m6 l3" id="Header">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right hide-on-med-and-down">logo</a>
      <ul id="nav-mobile" class="left hide-on-sm-and-down">
        <li><a href="sass.html">All Games</a></li>
        <li><a href="badges.html">Categories</a></li>
        <li><a href="collapsible.html">Survey</a></li>
      </ul>
    </div>
  </nav>
  <br>
  <br>
  <div class="container" id="container1">
    <div class="row">
      <div class="col-12 text-white">
        <h1 class="right lead" id="app-title">Name of The Game</h1>
        <h2 class="right">This is our Home Page!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-white">
        <p class="right">Instructions will be placed here.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus sit amet luctus venenatis lectus
          magna fringilla urna porttitor. Nulla pellentesque dignissim enim sit amet. Commodo nulla facilisi nullam
          vehicula.
          Dolor purus non enim praesent. Vitae turpis massa sed elementum tempus egestas sed sed risus. Enim facilisis
          gravida neque convallis a cras semper. Nec dui nunc mattis enim ut tellus elementum sagittis vitae. Egestas
          tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Et sollicitudin ac orci phasellus
          egestas.
          Pellentesque habitant morbi tristique senectus et. Ac felis donec et odio pellentesque diam volutpat. Pulvinar
          elementum integer enim neque volutpat ac tincidunt vitae semper. Et tortor consequat id porta nibh venenatis.
          Volutpat consequat mauris nunc congue nisi vitae suscipit. Urna molestie at elementum eu facilisis sed.
          Imperdiet massa tincidunt nunc pulvinar sapien. Auctor elit sed vulputate mi sit amet mauris commodo quis.</p>
      </div>
    </div>
  </div>
  <br>
  <br>
 <div class="container" id="container2">
    <div class="row">
    <div class="col-12  text-white">
     <div class="container" id="container2">
      <div class="row">
      <div class="col-12 offset-1 text-white">
        <div class="row">
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="images/sample-1.jpg">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="images/sample-1.jpg">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="images/sample-1.jpg">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col s5 s12">
          <h5 class="white-text center">Name the Game</h5>
          <p class="grey-text text-lighten-4 center">You can use rows and columns here to organize your footer content.
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container text-align: center">
        © 2014 Copyright Text
      </div>
    </div>
  </footer>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
