.list-group-item {
  line-height: 2.5;
}

#Header {
  padding: 0px 120px 5px 40px;
}
.list-group-item {
  line-height: 2.5;
}
#container2 {
  border: 1px solid black;
  padding: 50px 20px 25px 20px;
  background: whitesmoke;
}
#home {
  background-image: url("../styles/imgs/game_bg_white2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#container1 {
  padding: 5px 20px 25px 20px;
  background: whitesmoke;
}

.test-images {
  display: flex;
  justify-content: space-around;
}

.test-radio {
  display: flex;
  justify-content: space-between;
  align-items: center
}
img {
  height: 360px;
  width: 280px
}


[type="radio"]:not(:checked), [type="radio"]:checked {
  position: relative; 
  opacity: 1; 
}