.list-group-item {
  line-height: 2.5;
}

body {
  background-color: #F2EEDB;
}

#Header {
  padding: 0px 120px 5px 40px;
  background-color: #F06D54;
}
.list-group-item {
  line-height: 2.5;
}
#container2 {
  border: 1px solid black;
  padding: 50px 20px 25px 20px;
  background: whitesmoke;
}

#links-container {
  padding: 50px 20px 25px 20px;
}

#home {
  background-image: url("../styles/imgs/game_bg_white2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  padding-top: 75px;
}
#container1 {
  padding: 5px 20px 25px 20px;
  background: whitesmoke;
}

#home-header {
  padding: 5px 20px 25px 20px;
  background-color: rgba(242, 238, 219, 0.7);
}

.test-images {
  display: flex;
  justify-content: space-around;
}

#card-link {
  color: #20585D;
}

.test-radio {
  display: flex;
  justify-content: space-between;
  align-items: center
}
img {
  height: 360px;
  width: 280px
}

.footer-bg {
  background-color: #F06D54;
  color: white;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
  position: relative; 
  opacity: 1; 
}


.cc-selector input{
  margin:0;padding:0;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}
.Introvert{background-image:url("./imgs/introvert.jpg");}
.Extrovert{background-image:url("./imgs/extrovert.jpg");}

.kid{background-image:url("./imgs/lukcyCharms.jpg");}
.adult{background-image:url("./imgs/raisinBran.jpeg");}

.Horror{background-image:url("./imgs/getOut.jpg");}
.Education{background-image:url("./imgs/princessFrog.jpg");}
.Fantasy{background-image:url("./imgs/prisonerAzkaban.jpg");}
.Mystery{background-image:url("./imgs/sherlock.jpg");}
.Action{background-image:url("./imgs/bourne.jpg");}
.RolePlayer{background-image:url("./imgs/werethemillers.jpg");}
.Strategy{background-image:url("./imgs/fury.jpg");}
.LogicTrivia{background-image:url("./imgs/21.jpeg");}

.Park{background-image:url("./imgs/amusementpark.jpg");}
.Museum{background-image:url("./imgs/museum.jpg");}

.Polkadots{background-image:url("./imgs/dots.png");}
.Hearts{background-image:url("./imgs/hearts.jpg");}
.Chevron{background-image:url("./imgs/chevron.jpg");}
.Other{background-image:url("./imgs/other.jpg");}

.form {
display: block;
text-align: center;
}
.cc-selector input:active +.personality-cc{opacity: .9;}
.cc-selector input:checked +.personality-cc{
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}
.personality-cc{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:280px;height:360px;
  -webkit-transition: all 100ms ease-in;
     -moz-transition: all 100ms ease-in;
          transition: all 100ms ease-in;
  -webkit-filter: brightness(80%) grayscale(2%) opacity(.7);
     -moz-filter: brightness(80%) grayscale(2%) opacity(.7);
          filter: brightness(80%) grayscale(2%) opacity(.7);
}
.personality-cc:hover{
  -webkit-filter: brightness(none) grayscale(none) opacity(.9);
     -moz-filter: brightness(none) grayscale(none) opacity(.9);
          filter: brightness(none) grayscale(none) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}